Load Data into Pandas dataframe

In [2]:
import pandas as pd
df = pd.read_csv("data/AAPL.csv") #Read csv data

In [3]:
df_xlsx = pd.read_excel("data/AAPL.xlsx") #Read excel data

In [4]:
import json
df_json = pd.read_json("data/AAPL.json")

In [5]:
# Headers
print(df.columns)

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [6]:
# Read data with only one Column
print(df['Open'][:5])

0    109.110001
1    109.660004
2    114.139999
3    117.949997
4    118.320000
Name: Open, dtype: float64

In [7]:
# Read data with Multiple Columns
print(df[["High", "Low", "Open"]][1:4])

         High         Low        Open
1  111.489998  108.730003  109.660004
2  115.589996  112.349998  114.139999
3  119.620003  116.870003  117.949997

Change Columns in Dataframe

In [29]:
# Change all column names
print(f"Column names before: {df.columns}")
df.columns = [column.lower() for column in df.columns]
print(f"Column names after: {df.columns}")

Column names before: Index(['DATE', 'OPEN', 'HIGH', 'LOW', 'CLOSE', 'ADJ CLOSE', 'VOLUME'], dtype='object')
Column names after: Index(['date', 'open', 'high', 'low', 'close', 'adj close', 'volume'], dtype='object')

In [30]:
# Rename columns using dict
column_mappings = {"date": "time", "open": "price"}
df.rename(columns=column_mappings, inplace=True)
print(df)

           time       price        high         low       close   adj close  \
0    2020-11-02  109.110001  110.680000  107.320000  108.769997  108.074883
1    2020-11-03  110.000000  111.000000  109.000000  110.000000  110.000000
2    2020-11-04  114.139999  112.000000  108.000000  114.949997  114.215378
3    2020-11-05  117.949997  119.620003  116.870003  119.029999  118.269310
4    2020-11-06  118.320000  119.199997  116.129997  118.690002  118.134949
..          ...         ...         ...         ...         ...         ...
246  2021-10-25  148.679993  149.369995  147.619995  148.639999  148.639999
247  2021-10-26  149.330002  150.839996  149.009995  149.320007  149.320007
248  2021-10-27  149.360001  149.729996  148.490005  148.850006  148.850006
249  2021-10-28  149.820007  153.169998  149.720001  152.570007  152.570007
250  2021-10-29  147.220001  149.940002  146.410004  149.800003  149.800003

        volume
0    122866900
1    107624400
2    138235500
3    126387100
4    114457900
..         ...
246   50720600
247   60893400
248   56094900
249  100077900
250  124850400

[251 rows x 7 columns]

Change Rows in DataFrame

In [26]:
# Change full row data
print(f"Row data before: {df.loc[1].to_list()}")
df.loc[1] = ['2020-11-03', 110, 111, 109, 110, 110, 107624400]
print(f"Row data after: {df.loc[1].to_list()}")

Row data before: ['2020-11-03', 109.660004, 111.489998, 108.730003, 110.440002, 109.734207, 107624400]
Row data after: ['2020-11-03', 110.0, 111.0, 109.0, 110.0, 110.0, 107624400]

In [27]:
# Change row data with specific column(s)
print(f"Row data before: {df.loc[2].to_list()}")
df.loc[2, ["high", "low"]] = [112, 108]
print(f"Row data after: {df.loc[2].to_list()}")

Row data before: ['2020-11-04', 114.139999, 115.589996, 112.349998, 114.949997, 114.215378, 138235500]
Row data after: ['2020-11-04', 114.139999, 112.0, 108.0, 114.949997, 114.215378, 138235500]

In [34]:
# Change row data with conditions
row_condition = df["price"] < 115
print(f"Before: {df.loc[row_condition, ['price', 'time']]}")
df.loc[row_condition, 'price'] = 115
# Change row data with conditions
print(f"After: {df.loc[row_condition, ['price', 'time']]}")

Before:          price        time
0   109.110001  2020-11-02
1   110.000000  2020-11-03
2   114.139999  2020-11-04
16  113.910004  2020-11-24
After:     price        time
0   115.0  2020-11-02
1   115.0  2020-11-03
2   115.0  2020-11-04
16  115.0  2020-11-24

In [39]:
# Add a new column
print(f"Before: {df.columns} \n {df.loc[0].to_dict()}")
df["price range"] = df['high'] - df['low'] #assume that low <= high
print(f"After: {df.columns} \n {df.loc[0].to_dict()}")

Before: Index(['time', 'price', 'high', 'low', 'close', 'adj close', 'volume'], dtype='object')
 {'time': '2020-11-02', 'price': 115.0, 'high': 110.68, 'low': 107.32, 'close': 108.769997, 'adj close': 108.074883, 'volume': 122866900}
After: Index(['time', 'price', 'high', 'low', 'close', 'adj close', 'volume',
       'price range'],
      dtype='object')
 {'time': '2020-11-02', 'price': 115.0, 'high': 110.68, 'low': 107.32, 'close': 108.769997, 'adj close': 108.074883, 'volume': 122866900, 'price range': 3.3600000000000136}

In [41]:
# delete a column
print(f"Before: {df.columns} \n {df.loc[0].to_dict()}")
del df["price range"]
print(f"After: {df.columns} \n {df.loc[0].to_dict()}")

Before: Index(['time', 'price', 'high', 'low', 'close', 'adj close', 'volume',
       'price range'],
      dtype='object')
 {'time': '2020-11-02', 'price': 115.0, 'high': 110.68, 'low': 107.32, 'close': 108.769997, 'adj close': 108.074883, 'volume': 122866900, 'price range': 3.3600000000000136}
After: Index(['time', 'price', 'high', 'low', 'close', 'adj close', 'volume'], dtype='object')
 {'time': '2020-11-02', 'price': 115.0, 'high': 110.68, 'low': 107.32, 'close': 108.769997, 'adj close': 108.074883, 'volume': 122866900}